.App {
  text-align: center;
  padding-top: 30px; /* Assicura che il contenuto non si sovrapponga alla navbar fissa */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App h1 {
  color: #333;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 15px; /* Aggiunge ulteriore spazio sotto le schede */
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.product-card p {
  color: #555;
}

/* Rimuove la sottolineatura dai link nelle schede prodotto */
.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-card a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.orders-page {
  flex: 1; /* Permette alla pagina di occupare tutto lo spazio rimanente */
  padding-top: 20px; /* Aggiunge uno spazio superiore senza spingere la navbar verso il basso */
}

.navbar {
  position: fixed; /* Fissa la navbar in alto */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Assicurati che la navbar sia sopra altri contenuti */
}

.orders-list {
  margin-top: 70px; /* Aggiungi un margine superiore per compensare l'altezza della navbar */
}

/* Responsive */
@media (max-width: 768px) {
  .App {
    padding-top: 30px; /* Aggiusta il padding per dispositivi mobili se necessario */
  }
}