html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-top: 20px; /* Mantiene lo spazio sopra il contenuto per non sovrapporsi alla navbar */
  padding-bottom: 0px; /* Rimuove il padding inferiore */
  margin-bottom: 30px;
}

.navbar {
  position: fixed; /* Fissa la navbar in alto */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Assicura che la navbar sia sopra altri contenuti */
}

/* Responsive */
@media (max-width: 768px) {
  .App {
    padding-top: 30px; /* Aggiusta il padding per dispositivi mobili se necessario */
  }
  .content {
    padding-top: 5px; /* Riduce lo spazio in cima per i dispositivi mobili */
    margin-bottom: 40px;
  }
}