/* Stili di base per il menu di navigazione */
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.navbar-logo-container {
  margin-right: auto;
}

.navbar-menu-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-item a, .logout-button, .login-button {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding-bottom: 5px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-item a::before, .logout-button::before, .login-button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar-item a:hover::before, .logout-button:hover::before, .login-button:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-item a:hover, .logout-button:hover, .login-button:hover {
  color: #ff9800;
}

/* Stile per l'icona nella navbar */
.navbar-logo {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Posiziona il pulsante Logout/Login tutto a destra */
.navbar-logout-container, .navbar-login-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Stili per il menu a tendina mobile */
.navbar-mobile-menu {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-mobile-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 999;
}

.navbar-mobile-dropdown .navbar-item {
  padding: 15px 0;
  border-bottom: 1px solid #444;
}

.navbar-mobile-dropdown .navbar-item:last-child {
  border-bottom: none;
}

.navbar-mobile-dropdown .navbar-item a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.navbar-mobile-dropdown .navbar-item a:hover {
  color: #ff9800;
}

/* Stile per il pulsante di apertura del menu mobile */
.menu-toggle-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Mostra il menu a tendina e il pulsante su dispositivi mobili */
@media (max-width: 768px) {
  .navbar-menu-container {
    display: none;
  }

  .navbar-mobile-menu {
    display: flex;
  }

  .navbar-mobile-dropdown {
    display: none;
  }

  .navbar-mobile-dropdown.open {
    display: block;
  }

  .navbar-page-title {
    color: white;
    font-size: 18px;
    text-align: center;
    flex: 1;
  }
}

/* Stile per l'icona della navbar su hover */
.navbar-logo:hover {
  transform: scale(1.1);
}

.navbar-item .active {
  color: #ff9800;
  border-bottom: 2px solid #ff9800;
}

.navbar-item a:hover, .navbar-item .active {
  color: #ff9800;
}

.navbar-item a:hover::before, .logout-button:hover::before, .login-button:hover::before, .navbar-item .active::before {
  visibility: visible;
  transform: scaleX(1);
}