/* Navbar generale */
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Contenitore per logo */
.navbar-logo-container {
  flex: 0 0 50px; /* Fissa la larghezza del logo */
}

/* Titolo della pagina al centro */
.navbar-page-title {
  color: white;
  font-size: 18px;
  text-align: center;
  flex: 1; /* Occupa tutto lo spazio disponibile tra il logo e il carrello/toggle */
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Contenitore del carrello e toggle menu */
.navbar-mobile-right {
  display: flex;
  align-items: center;
  max-width: auto;
}

/* Stile per il carrello */
.navbar-cart-container {
  display: flex;
  align-items: center;
  position: relative; /* Necessario per posizionare correttamente il badge */
}

.cart-icon {
  width: 30px;
  height: auto;
  cursor: pointer;
  position: relative;
}

.cart-icon:hover {
  transform: scale(1.1);
}

/* Badge del carrello */
.cart-badge {
  position: absolute;
  top: -5px;  /* Sposta il badge leggermente verso l'alto */
  right: -5px;  /* Sposta il badge leggermente verso destra */
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}

.empty-cart-badge {
  background-color: red; /* Colore per quando il carrello è vuoto */
  color: white;
}

.non-empty-cart-badge {
  background-color: green; /* Colore per quando c'è almeno un prodotto */
  color: white;
}

/* Pulsante toggle del menu */
.menu-toggle-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 15px;
}

/* Dropdown profilo */
.profile-dropdown {
  position: relative;
  display: inline-block;
}

.profile-button {
  background: none;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  padding-bottom: 5px;
}

.profile-button:hover {
  color: #ff9800;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333; /* Imposta uno sfondo simile alla navbar */
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Aggiunto per posizionare il menu sopra gli altri contenuti */
  list-style: none; /* Rimuove i puntini dall'elenco */
  padding: 0;
  margin: 0;
  top: 100%; /* Posiziona il menu sotto la navbar */
  right: 0;
  left: 0;
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a, .dropdown-menu li button {
  color: white;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Stile per l'icona nella navbar */
.navbar-logo {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

/* Navbar menu e dropdown (desktop) */
.navbar-menu-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-item a, .logout-button, .login-button-navbar, .ap-button {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding-bottom: 5px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-item a::before, .logout-button::before, .login-button-navbar::before, .ap-button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar-item a:hover::before, .logout-button:hover::before, .login-button-navbar:hover::before, .ap-button:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-item a:hover, .logout-button:hover, .login-button-navbar:hover, .ap-button:hover {
  color: #ff9800;
}

/* Badge del carrello su dispositivi mobili */
@media (max-width: 768px) {
  .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  /* Regola la posizione del badge del carrello */
  .navbar-cart-container {
    margin-right: 15px; /* Aggiungi spazio tra il carrello e il toggle menu */
  }

  /* Badge del carrello */
  .cart-badge {
    top: 10px;  /* Abbassa ulteriormente il badge per posizionarlo correttamente */
    right: 45px; /* Correggi lo spostamento a destra per non sovrapporre al menu */
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
  }

  /* Regola il titolo per centrarlo */
  .navbar-page-title {
    flex: 1; /* Assicurati che occupi tutto lo spazio centrale per il titolo */
    text-align: center;
    margin-left: 10px; /* Evita che il titolo sia troppo vicino al logo */
    margin-right: 10px; /* Evita che sia troppo vicino al carrello/toggle */
  }

  .navbar-menu-container {
    display: none;
  }

  .navbar-mobile-right {
    width: 70px;
  }

  .navbar-mobile-dropdown {
    display: none;
    list-style: none;
  }

  .navbar-mobile-dropdown.open {
    display: block;
    position: absolute; /* Assicura che si sovrapponga al contenuto */
    top: 100%; /* Posiziona il menu appena sotto la navbar */
    left: 0;
    right: 0;
    background-color: #333; /* Stesso colore della navbar */
    padding: 10px 0; /* Aggiunge un po' di padding intorno agli elementi */
    margin-top: 0px;
  }

  .navbar-mobile-dropdown .navbar-item {
    padding: 15px 0;
    border-bottom: 1px solid #444; /* Aggiungi un bordo per separare gli elementi */
  }

  .navbar-mobile-dropdown .navbar-item:last-child {
    border-bottom: none;
  }
}

/* Stile per l'icona della navbar su hover */
.navbar-item .active {
  color: #ff9800;
  border-bottom: 2px solid #ff9800;
}

.navbar-item a:hover, .navbar-item .active {
  color: #ff9800;
}

.navbar-item a:hover::before, .logout-button:hover::before, .login-button-navbar:hover::before, .navbar-item .active::before {
  visibility: visible;
  transform: scaleX(1);
}