.personal-area-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Mantiene l'allineamento orizzontale al centro */
  padding: 20px;
  margin-top: 20px; /* Aggiunge uno spazio superiore per evitare che il contenuto tocchi la navbar */
}

.personal-area-title {
  font-size: 2em;
  color: #333333;
  margin-bottom: 20px;
}

.personal-area-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.personal-area-info {
  font-size: 1.2em;
  color: #333333;
  margin-bottom: 10px;
}

.personal-area-warning {
  color: #ff9800;
  font-weight: bold;
}

.personal-area-loading {
  font-size: 1.2em;
  color: #999999;
}

.personal-area-warning {
  color: #e67e22;
  font-weight: bold;
  margin-top: 10px;
}

.personal-area-error {
  color: #e74c3c;
  font-weight: bold;
  margin-top: 10px;
}