.privacy-policy-container {
    width: 800px; /* Larghezza fissa */
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
  }
  
  .privacy-policy-container .privacy-title {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    margin-top: 0;
  }
  
  .privacy-policy-container h2 {
    font-size: 2rem;
    color: #007bff;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .privacy-policy-container p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .privacy-policy-container ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .privacy-policy-container ul li {
    list-style-type: disc;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
  }
  
  /* Media query per dispositivi mobili */
  @media (max-width: 768px) {
    .privacy-policy-container {
      width: 80%; /* Riduce la larghezza su dispositivi mobili */
    }
  }