.product-detail {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera per dare un effetto di elevazione */
  text-align: center;
  margin-top: 60px;
}

.product-detail .product-detail-image {
  width: 100%;
  max-width: 400px; /* Limita la larghezza massima dell'immagine */
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.product-detail h2 {
  font-size: 2.4em;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}

.div-add-to-cart {
  display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-box-pack: end;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    z-index: 1;
}

.add-to-cart-icon {
  color:white;
}

.add-to-cart-button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    appearance: none;
    padding: 0px 16px;
    position: relative;
    font-family: NotoSansDisplay, NotoSansDisplay-fallback, Arial, sans-serif;
    font-weight: bold;
    width: 50%;
    border-radius: 8px;
    height: 48px;
    font-size: 16px;
}

.product-detail p {
  white-space: pre-wrap; /* Preserva gli spazi e i newline */
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.product-detail .product-price {
  font-size: 1.5em;
  color: #007bff;
  margin-bottom: 30px;
  font-weight: bold;
}

.product-detail button {
  padding: 12px 24px;
  font-size: 1.1em;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.product-detail button:hover {
  background-color: #218838;
  transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
}

.error-message {
  color: #dc3545;
  font-weight: bold;
  margin-top: 15px;
  font-size: 1.1em;
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
  .product-detail {
  max-width: 80%;
  }

  .add-to-cart-button {
    width: 90%;
}
}