.product-detail {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera per dare un effetto di elevazione */
  text-align: center;
}

.product-detail .product-detail-image {
  width: 100%;
  max-width: 400px; /* Limita la larghezza massima dell'immagine */
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.product-detail h2 {
  font-size: 2.4em;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}

.product-detail p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.product-detail .product-price {
  font-size: 1.5em;
  color: #007bff;
  margin-bottom: 30px;
  font-weight: bold;
}

.product-detail button {
  padding: 12px 24px;
  font-size: 1.1em;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.product-detail button:hover {
  background-color: #218838;
  transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
}

.error-message {
  color: #dc3545;
  font-weight: bold;
  margin-top: 15px;
  font-size: 1.1em;
}