.received-orders {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
}

.received-orders h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    margin-top: 10px;
}

.received-orders-list {
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Centra la lista all'interno del contenitore */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra gli elementi figli orizzontalmente */
}

.received-order-item {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    max-width: 50%;
    width: 100%; /* Assicura che l'elemento occupi tutta la larghezza disponibile */
}

.received-order-item p {
    margin: 5px 0;
}

.received-order-item strong {
    color: #333;
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
    .received-order-item {
        max-width: 80%;
    }
    .received-orders {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 30px;
    }
  }