.sell-product-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sell-product-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  margin-top: 0px;
}

.sell-product-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
}

.form-input, .form-textarea {
  padding: 10px;
  font-size: 1rem;
  font-family: Arial, sans-serif; /* Specifica il font per input e textarea */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input:focus, .form-textarea:focus {
  border-color: #007bff;
}

.form-textarea {
  resize: vertical;
  height: 150px;
  white-space: pre-wrap; /* Preserva la formattazione nel campo di input */
}

.submit-button {
  padding: 12px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #484848;
}

.success-message {
  text-align: center;
  color: green;
  font-size: 1rem;
  margin-top: 20px;
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
.sell-product-container {
  align-items: flex-start; /* Allinea la scheda di login verso l'alto */
  padding-top: 20px; /* Riduce lo spazio in alto su mobile */
  max-width: 90%;
}
}